- var sitename = 'Webapp Template'

doctype html
head
  title=sitename

  //- meta tags
  meta(charset='utf-8')
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(http-equiv='X-UA-Compatible', content='IE=edge')

#root
  img(src='./ui/static/loader.svg')

script(src='./index.js')
